.feynman__link {
  font-size: 36px;
  text-align: center;
  right: 48px;
  position: absolute;
  top: 50%;
  color: #2f80ed;
  list-style-type: none;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.5;
  transition: 2s linear;
}