.footer__columns {
  display: flex;
  background-color: #1f1f1f;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: stretch;

}