.table {
  display: grid;
  position: relative;
  max-width: 1500px;
  min-width: 375px;
  grid-template-columns: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
  grid-template-rows: minmax(100px, auto) minmax(10px, auto) minmax(100px, auto) minmax(10px, auto) minmax(100px, auto) minmax(10px, auto) minmax(100px, auto) minmax(10px, auto) minmax(100px, auto) minmax(10px, auto) minmax(100px, auto);
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin-bottom: 50px;
}
