.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  text-align: start;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
}

.logo__place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

.logo__place_footer {
  height: 35px;
  margin-top: 0;
  }

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  z-index: 2;
}

.header__subtitle {
  width: 450px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  position: absolute;
  z-index: 3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  right: 0;
  top: 64px;
  position: absolute;
  background-color: #2f80ed;
}

.header__subtitle-link {
  color: #2f80ed;
}

.two-columns {
  margin-top: 100px;
  display: flex;
  position: relative;
  height: 334px;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;

}

.two-columns__brief {
  flex-basis: 175px;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;

}
.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
  color: #2f80ed;

}

.two-columns__main-text {
  display: flex;
  min-width: 784px;
  flex-direction: column;
  width: 80%;

}

.two-columns__paragraph {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 24px;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 24px;
 }

.two-columns__span-accent {
  font-weight: bold;
}
.two-columns__paragraph:last-child {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 24px;
}

.digits {
  position: relative;
}

.feynman {
  position: relative;
  height: 790px;
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__titile {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  position: relative;
  z-index: 1;
}

.feynman__subtitile {
  width: 648px;
  font-size: 36px;
  position: relative;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  z-index: 1;
}

.feynman__link {
  font-size: 36px;
  text-align: center;
  right: 48px;
  margin-bottom: 70px;
  position: absolute;
  top: 50%;
}

.feynman__link_text {
  color: #2f80ed;
}

.feynman__pic {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-bottom: 150px;
  overflow: hidden;

}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  z-index: 1;
  margin-bottom: 20px;
  padding-top: 90px;

}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  margin-bottom: 0;
  text-align: center;
  margin: auto;
  z-index: 1;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  z-index: 1;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 0;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: -5px;
  right: -210px;
  z-index: 0;
  background-size: cover;
}

.footer {
background-color: #1f1f1f;
display: flex;
min-height: 350px;
box-sizing: border-box;
}

.footer__columns {
  padding-bottom: 40px;
  display: flex;
  background-color: #1f1f1f;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: stretch;

}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  font-size: 18px;
  margin-bottom: 18px;
  color: white;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  display: inline-block;
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 0;
}

.footer__column-links {
  color: white;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.footer__column-links_href {
  font-weight: normal;
}

.footer__column-content-social-heading {
display: inline-block;
text-align: center;
line-height: 30px;
font-size: 18px;
font-weight: bold;
color: white;
margin-bottom: 20px;
margin-top: 0;
}

.footer__column_content_social {
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer__social_icon {

  margin-right: 10px;
  bottom: 0;

}


